curl -X POST -H "Content-Type: application/json" http://{{ ip_chronograf }}:8888/chronograf/v1/dashboards -d @/var/lib/chronograf/simple_dashboard.json
curl -X POST -H "Content-Type: application/json" http://{{ ip_chronograf }}:8888/chronograf/v1/dashboards -d @/var/lib/chronograf/complete_dashboard.json
curl -X POST -H "Content-Type: application/json" http://{{ ip_chronograf }}:8888/chronograf/v1/dashboards -d @/var/lib/chronograf/teste.json


