hostname = "kapacitor"
data_dir = "/var/lib/kapacitor"

[http]
  # HTTP API Server for Kapacitor
  # This server is always on,
  # it serves both as a write endpoint
  # and as the API endpoint for all other
  # Kapacitor calls.
  bind-address = ":9092"
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
  https-certificate = "/etc/ssl/kapacitor.pem"

[config-override]
  # Enable/Disable the service for overridding configuration via the HTTP API.
  enabled = true

[logging]
    # Destination for logs
    # Can be a path to a file or 'STDOUT', 'STDERR'.
    file = "/var/log/kapacitor/kapacitor.log"
    # Logging level can be one of:
    # DEBUG, INFO, WARN, ERROR, or OFF
    level = "INFO"

[replay]
  dir = "/var/lib/kapacitor/replay"

[task]
  dir = "/var/lib/kapacitor/tasks"

[[influxdb]]
  # Connect to an InfluxDB cluster
  enabled = true
  default = true
  name = "influxdb"
  username = "{{ admin }}"
  password = "{{ admin_password }}"
  timeout = 0
  insecure-skip-verify = false
  startup-timeout = "5m"
  disable-subscriptions = false
  subscription-mode = "cluster"
  subscription-protocol = "http"
  subscriptions-sync-interval = "1m0s"
  http-port = 0
  udp-bind = ""
  udp-buffer = 1000
  udp-read-buffer = 0

  [influxdb.subscriptions]
    {{ database }} = [ "default", "autogen"]
  [influxdb.excluded-subscriptions]

[[slack]]
  enabled = true
  default = true
  workspace = "{{ workspace_slack }}"
  url = "{{ url_slack }}"
  channel = "{{ channel_slack }}"
  username = "kapacitor"
  global = false
  state-changes-only = false
  insecure-skip-verify = false
